body, html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: black;
}
canvas{
    position: relative;
    top: 0px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}
button{
    z-index: 1000;
    position: relative;
    bottom: 60px;
    margin: 0 10px;
    border: white 2px solid;
    outline: none;
    user-select: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: white;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}